# vim: expandtab softtabstop=2 shiftwidth=2
# vim: foldmethod=marker
# vim: filetype=zsh

alias dcs='docker stats $(docker-compose ps -q || echo "#")'
alias gup='git pull --rebase'
alias rm='rm -i'
alias df='df -h'
alias bc='bc -l'
alias scrr='screen -U -D -RR'
alias diff='diff -W $COLUMNS'
alias locate='mdfind -name'
alias top='top -o cpu'
alias svc='brew services'
alias vim='/Applications/MacVim.app/Contents/MacOS/Vim'
alias toweb='ruby -run -e httpd . -p5000'
alias vcat='vimcat'
alias cat='bat --paging=never'
alias ls='ls -G'
alias cp='cp -v -i'
alias mv='mv -v -i'
alias zshconfig="$EDITOR ~/.zshrc"
alias ohmyzsh="$EDITOR ~/.oh-my-zsh"
alias vimrc="$EDITOR ~/.vimrc"
alias f='thefuck'
