# Ignore All Files
/*
/.*
# add tracking files
/.vim/autoload/
!/.vim/autoload/.empty
!/.gvimrc
!/.vimrc
!/.vimlc
!/.vimshrc
!/.vimrc.d
!/.vim
!/.gitignore
!/.gitmodules
!/.gemrc
!/.rspec
!/sbin
!/skkdic
!/.ssh_config.d
!/.gitignore.global
!/.gitignore
!/.gitattributes
!/.vromerc
!/.install
!/.default-gems
!/.default-packages
!/.go-package
!/.setups
!/.inputrc
!/.pryrc
!/.railsrc
!/.*-version
!/.rubocop.yml
!/.github
!/.fontgen
!/.dircolors
!/.editorconfig

# Add .config file
!/.config
/.config/*
!/.config/pgcli
/.config/pgcli/*
!/.config/pgcli/config
!/.config/nodenv
!/.config/bat
!/.config/mpv
!/.config/streamlink
!/.config/peco
!/.config/npm

# htop
!/.config/htop
/.config/htop/*
!/.config/htop/htoprc

# Add Tracking only .config/bundle/config
!/.config/bundle
/.config/bundle/*
!/.config/bundle/config

# omf
!/.config/omf
/.config/omf/*
!/.config/omf/bundle
!/.config/omf/channel
!/.config/omf/theme

# homebrew environments
!/.config/homebrew
/.config/homebrew/*
!/.config/homebrew/brew.env

# git
!/.config/git
/.config/git/*
!/.config/git/config
!/.config/git/attributes
!/.config/git/ignore.global

# pry
!/.config/pry
/.config/pry/*
!/.config/pry/config

# rubygems
!/.config/gem
/.config/gem/*
!/.config/gem/gemrc

# Ghostty
!/.config/ghostty
/.config/ghostty/*
!/.config/ghostty/config

# fish shell
!/.fishenv
!/.fishrc
!/.fish_profile
!/.fish_login
!/.fish-functions
!/.config/fish
/.config/fish/*
!/.config/fish/config.fish
!/.config/fish/fish_plugins

# Ignore Files
/.vim/plugged/
/.vim/.netrwhist
/.vim/pack
/.oh-my-zsh
