# Ignore All Files
/*
/.*

# add tracking files
!/.gitignore
!/.gitattributes
!/.install
!/.setups
!/.fontgen
!/.editorconfig

# Add .config file
!/.config
/.config/*

# sshconfig
!/.config/ssh
/.config/ssh/*
!/.config/ssh/before
!/.config/ssh/after

# pgcli
!/.config/pgcli
/.config/pgcli/*
!/.config/pgcli/config

!/.config/nodenv
!/.config/bat
!/.config/mpv
!/.config/streamlink
!/.config/peco
!/.config/npm

# anyenv
!/.config/anyenv
/.config/anyenv/*
!/.config/anyenv/default-gems
!/.config/anyenv/requirements.txt
!/.config/anyenv/ruby-version
!/.config/anyenv/perl-version
!/.config/anyenv/node-version
!/.config/anyenv/go-version

# act
!/.config/act
/.config/act/*
!/.config/act/actrc

# dircolors
!/.config/dircolors
/.config/dircolors/*
!/.config/dircolors/config

# vim
!/.config/vim
/.config/vim/*
!/.config/vim/vimrc
!/.config/vim/gvimrc
!/.config/vim/config
!/.config/vim/stash

# efm-langserver
!/.config/efm-langserver
/.config/efm-langserver/*
!/.config/efm-langserver/config.yaml

# markdownlint
!/.config/markdownlint
/.config/markdownlint/*
!/.config/markdownlint/config.json

# rails
!/.config/rails
/.config/rails/*
!/.config/rails/railsrc

# readline
!/.config/readline
/.config/readline/*
!/.config/readline/inputrc

# rspec
!/.config/rspec
/.config/rspec/*
!/.config/rspec/options

# rubocop
!/.config/rubocop
/.config/rubocop/*
!/.config/rubocop/config.yml

# htop
!/.config/htop
/.config/htop/*
!/.config/htop/htoprc

# Add Tracking only .config/bundle/config
!/.config/bundle
/.config/bundle/*
!/.config/bundle/config

# skkdic
!/.config/skkdic

# omf
!/.config/omf
/.config/omf/*
!/.config/omf/bundle
!/.config/omf/channel
!/.config/omf/theme

# homebrew environments
!/.config/homebrew
/.config/homebrew/*
!/.config/homebrew/brew.env

# git
!/.config/git
/.config/git/*
!/.config/git/config
!/.config/git/attributes
!/.config/git/ignore

# pry
!/.config/pry
/.config/pry/*
!/.config/pry/config

# rubygems
!/.config/gem
/.config/gem/*
!/.config/gem/gemrc

# Ghostty
!/.config/ghostty
/.config/ghostty/*
!/.config/ghostty/config

# fish shell
!/.fish-functions
!/.config/fish
/.config/fish/*
!/.config/fish/config.fish
!/.config/fish/fish_plugins
!/.config/fish/env
!/.config/fish/rc
!/.config/fish/profile
!/.config/fish/login
!/.config/fish/indivisuals
/.config/fish/indivisuals/*
/.config/fish/indivisuals/functions
!/.config/fish/indivisuals/functions/*
