# vim: filetype=gitconfig
[user]
	name = KAWAHARA Keisuke
[ghq]
	root = ~/src
[core]
	excludesfile = ~/.gitignore.global
	compression = 9
[include]
	path = ~/.gitconfig.local
[submodule]
	fetchJobs = 4
	recurse = true
[remote "origin"]
	prune = true
[credential]
	helper = store --file ~/.git-credentials
[color]
	branch = auto
	diff = auto
	status = auto
[fetch]
	recurseSubmodules = true
	parallel = 8
[push]
	default = current
	followTags = true
	autoSetupRemote = true
[gc]
	reflogExpire = 0
	reflogExpireUnreachable = 0
	rerereresolved = 0
	rerereunresolved = 0
	pruneExpire = now
	aggressiveDepth = 250
	aggressiveWindow = 250
[alias]
	branches = branch -a
	tags = tag
	stashes = stash list
	remotes = remote -v

	sdiff = difftool
	last = sdiff HEAD~1
	dig = log -p --pickaxe-all -S
	precommit = diff --cached --diff-algorithm=minimal -w
	dmb = delete-merged-branches

	squash-all = "!f(){ git reset $(git commit-tree HEAD^{tree} -m \"${1:-A new start}\");};f"

	amend = commit --amend
	unstage = reset -q HEAD --
	discard = checkout --
	uncommit = reset --mixed HEAD~


[pager]
	difftool = true
	branch = false
[interactive]
	diffFilter = diff-highlight
[diff]
	compactionHeuristic = true
	tool = difftastic
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[merge]
	tool = gvimdiff
[mergetool]
	prompt = false
	keepBackup = false
