[tools]
deno = "latest"
go = "1"
node = "24"
python = "3.12"
ruby = "latest"
uv = "latest"


[settings]
cache_prune_age = '7d'

env_shell_expand = true

# golang
go_set_gobin = false

# python
python.compile = true
# python.default_packages_file="$HOME/.config/anyenv/requirements.txt"

# ruby
ruby.compile = true
ruby.default_packages_file = "$HOME/.config/anyenv/default-gems"

# node
npm.package_manager = "pnpm"


[env]
MISE_NODE_DEFAULT_PACKAGES_FILE = "$HOME/.config/anyenv/default-packages"
